.article {
  min-height: 100vh;
  color: var(--text);
  margin-top: var(--height-header);
}

.article__title {
  font-size: 3rem;
  margin-bottom: 12px;
}

.article__time {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: gray;
}

.article-wrapper__img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article__img {
  width: 600px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

.article__content {
  padding: 0 16px;
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: justify;
}

.article__content p {
  margin: 8px 0;
}